.hightlight {
    color: var(--main-color);
}

.destaque {
    font-weight: bold;
}

.description {
    max-width: 75%;
    margin-bottom: 10px;
}

.skills-box {
    flex: 1 1 33%;
    max-width: 33%;
    margin-bottom: 35px;
}

.skills-box i {
    font-size: 45px;
    margin-right: 10px;
}

.skills-title {
    font-size: 24px;
    margin-bottom: 25px;
    font-weight: bold;
    padding-left: 10px;
    border-left: 5px solid var(--main-color);
}